{% extends 'base.html'%}

 {% block content %}
  <div class="container">
    <div class="header">
      <div class="content">
              <h1><span></span><br />Комплексная проверка для вашего здоровья</h1>
              <p>
                В современном быстро меняющемся мире доступ к быстрой и эффективной медицинской помощи
                услуг имеет первостепенное значение. Столкнувшись с медицинским
                неотложной помощи или немедленного обращения за медицинской помощью, возможность
                получение быстрой медицинской помощи может существенно повлиять на результат
                ситуации.
              </p>
              <button class="btn">Подробнее</button>
        </div>
        <div class="image">
          <span class="image__bg"></span>
          <img src="static/image/header-bg.png" alt="header image" />
          <div class="image__content image__content__1">
            <span><i class="ri-user-3-line"></i></span>
            <div class="details">
              <h4>1520+</h4>
              <p>Довольных клиентов</p>
            </div>
          </div>
          <div class="image__content image__content__2">
            <ul>
              <li>
                <span><i class="ri-check-line"></i></span>
                20% скидка на первое посещение 
              </li>
              <li>
                <span><i class="ri-check-line"></i></span>
                Доктора со стажом
              </li>
             
            </div> 
          </div> 
        </div> 


{% endblock %}