{% extends 'base.html'%}

 {% block content %}
  <div class="container">
    <div class="header">
      <div class="content">
              <h1><span></span><br />Always Lough Whenever Its Possible </h1>
              <p>
                We also offer treatments that improve the appearance of your smile giving you the confidence boost you deserve. The process or our treatment below.
              </p>
        </div>
        <div class="image">
          <span class="image__doctor"></span>
          <img src="static/image/doctor.png" alt="header image" />
          <div class="image__content image__content__1">
            <span><i class="ri-user-3-line"></i></span>
          </div>
          <div class="image__content image__content__2">
            <ul>
              <li>
                <span><i class="ri-check-line"></i></span>
                20% скидка на первое посещение 
              </li>
              <li>
                <span><i class="ri-check-line"></i></span>
                Доктора со стажом
              </li>
             
            </div> 
          </div> 
        </div> 


{% endblock %}