<div class="container">
    <div class="footer-list">
        <div class="footer-list-value">
            <h2>Обслуживание клиентов</h2>
            <a href="#" class="footer-list-text">Часто задаваемые вопросы</a>
            <a href="#" class="footer-list-text">Правила и условия акции</a>
        </div>
        <div class="footer-list-value">
            <a href="#">Связаться с нами</a>
            <a href="#">Войти в систему</a>
            <a href="#">Местоположение поликлиники</a>
            <div class="map" id="map-test"></div>
        </div>
        <div class="footer-list-value">
            <h2>Оставаться на связи</h2>
            <p>Предоставляя свой адрес электронной почты, вы соглашаетесь получать сообщения от оликлиники.  (это может быть изменено в любое время). Пожалуйста, ознакомьтесь с нашей Политикой конфиденциальности и Условиями использования для получения более подробной информации.</p>
        </div>
    </div>
</div>
<script src="/static/js/main.js" defer></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script>